<h1>New Blog Post</h1>

<%= form_for @blog_posts do |f| %>
	<%= f.label :title %>
	<%= f.label :title %><br>
	<%= f.label :body %>
	<%= f.text_area :body %><br>
	<%= f.label :author %>
	<%= f.text_field :author %><br>
	<%= f.submit %>
<% end %>